<div class="container">
<nav class="navbar navbar-expand-lg mt-4 navbar-dark bg-info">
  <a class="navbar-brand" [routerLink]="[ '/inicio' ]">Prueba Angular</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="[ '/inicio' ]">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/usuarios' ]" *ngIf="token">Lista de Usuarios</a>
      </li>
    
     
    </ul>
    
    <ul class="navbar-nav navbar-right">
      <li class="nav-item" *ngIf="!token">
        <a class="nav-link " [routerLink]="[ '/login' ]">Iniciar sesion</a>
      </li>
      &nbsp;
      <li class="nav-item" *ngIf="!token">
        <a class="nav-link " [routerLink]="[ '/registro' ]">Registrate</a>
      </li>
      &nbsp;
    <li class="nav-item dropdown" *ngIf="token">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Estas identificado/a
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
  <!--       <a class="dropdown-item" [routerLink]="[ '/editar' ]">Editar usuario</a> -->
      
        <div class="dropdown-divider"></div>
        <a class="dropdown-item pointer" (click)="logout()">Salir</a>
      </div>
    </li>
  </ul>
  </div>
</nav>
</div>

<router-outlet></router-outlet>